body {
	height : 80vh;
	display : flex;
	justify-content : center;
	align-items : center;
	background-color: wheat;
}
.goHome {
	font-size : 25px;
	font-weight : bold;
}
.header {
	font-size : 35px;
	font-weight : bold;
	display : flex;
}
.logo {
	position : relative;
	top : 10px;
	right : 5px;
	height : 35px;
}